<div class="main">
  <div class="toolbar" role="banner" fxLayoutAlign="end center">
    <div fxFlexOffset="3" fxFlex><span>LucKae Server Horny July Bingo</span></div>

    <button mat-button fxFlex="10">Art Submissions</button>
    <button mat-button fxFlex="10">Fic Submissions</button>
  </div>

  <div class="content" [class.mat-elevation-z8]="true">
    <br/><br/>
    <h2>Welcome!!</h2>
    <p>Horny Bingo was a server event hosted by the Genshin LucKae server throughout July 2021!</p>
    <p>blah blah words</p><br/>


    <div fxFlex="" fxLayout="row wrap" fxLayoutAlign="space-evenly top" fxLayoutGap="15px">
      <app-art-thumbnail [title]="'eileen'"
                         [image]="'https://img.poipiku.com/user_img01/003269302/004893802_008432850_EsTJDDEEr.jpeg_640.jpg'"></app-art-thumbnail>
      <app-art-thumbnail [title]="'hi!!'"
                         [image]="'https://img.poipiku.com/user_img01/003269302/004893802_T6d3uAg2Z.png_640.jpg'"></app-art-thumbnail>
      <app-art-thumbnail [title]="'hello'"
                         [image]="'https://img.poipiku.com/user_img01/003269302/004893802_008416835_I6NqpDAC2.jpeg_640.jpg'"></app-art-thumbnail>
      <app-art-thumbnail [title]="'sup'"
                         [image]="'https://img.poipiku.com/user_img01/003269302/004893802_008416838_dY7KMd1KN.jpeg_640.jpg'"></app-art-thumbnail>
      <app-art-thumbnail [title]="':)'"
                         [image]="'https://img.poipiku.com/user_img01/003269302/004893802_008432303_XhGSRIOLE.jpeg_640.jpg'"></app-art-thumbnail>
    </div>
  </div>

</div>
