h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ed2939;
  color: white;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 60px auto 0;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100%;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.main {
  background-image: url('https://raw.githubusercontent.com/eileen252/lck-july/master/docs/assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
